.cardSubmit {
  display: flex;
  width: 600px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #397c2e;
  border-radius: 10px;
}

.contactContainer {
  margin: 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.allInp {
  background-color: #e0f5bd;
  padding: 4px;
  margin-bottom: 16px;
}

.cImage {
  max-width: 500px;
  border-radius: 10px;
}

.contactAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vw;
  width: 100%;
}

.button {
  background-color: #bb8b27;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
  font-family: 'Marhey';
  font-size: 17px;
}

.thankY {
  margin-top: 5vw;
}

.contactUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
  padding: 0 10vw;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#YourMessage {
  width: 400px;
}

.contactUsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vw;
}

.contactUsTitle h1 {
  margin-block-end: unset;
}

.contactHr {
  border: 1px solid #bb8b27;
  width: 150%;
  margin-left: -25%;
  margin-block-start: 0;
}

@media screen and (max-width: 1200px) {
  .contactAdd {
    flex-direction: column;
  }

  .contactAdd:nth-of-type(3) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .cardSubmit {
    width: 80%;
  }

  #YourMessage {
    width: 100%;
  }

  .cardSubmit div {
    display: flex;
    flex-direction: column;
  }
}
