@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Marhey';
  width: 100%;
}